<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .test::after{
      content:":";
    }
   
    
  </style>
</head>
 
<body>
  <button>hello</button>
  <div class="test">
    here iam
  </div>

  <div class="over">
    하낫둘세넷다섯여섯일곱여덟
  </div>
  <div class="box">
    <div class="box1">ease</div>
    <div class="box2">linear</div>
    <div class="box3">ease-in</div>
    <div class="box4">ease-out</div>
    <div class="box5">ease-in-out</div>
  </div>
 
  <h1>{{lst.name}}</h1>
     <script>
    const btn = document.querySelector('button');
    console.log(btn);
    btn.addEventListener('click', () => {
    let myDate;
    
      let date = new Date();
      myDate = date;
   

    console.log(myDate);

    let pElem = document.createElement('p');
    pElem.textContent = 'This is a newly-added paragraph.';
    document.body.appendChild(pElem);
  });

  </script>

</body>
</html>